@import url("https://fonts.googleapis.com/css2?family=Lato&family=Source+Code+Pro&display=swap");

@font-face {
  font-family: "UD Digi Kyokasho NK-R";
  src: url("..fonts\nkr.woff2")
      format("woff2"),
    url("..fonts\nkr.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#ploverlogo {
  font-family: "UD Digi Kyokasho NK-R";
  width: 20%;
  color: #f5f2eb;
  font-size: 3vw;
  text-align: center;
  margin: auto;
}

.certs {
  margin-top: 1vh;
  margin-left: 1vw;
  font-family: "UD Digi Kyokasho NK-R";
  color: #54514c;
  width: 20%;
  height: 10%;
  background-color: #f5f2eb;
  box-shadow: 0 5px 0 #3a3835;
  border-radius: 15px;
  font-size: 2vw;
  transition: 0.15s;
  text-align: center;
}

.socials {
  margin-right: 1vw;
  margin-top: 1vh;
  font-family: "UD Digi Kyokasho NK-R";
  color: #54514c;
  width: 20%;
  height: 10%;
  background-color: #f5f2eb;
  box-shadow: 0 5px 0 #3a3835;
  border-radius: 15px;
  font-size: 2vw;
  transition: 0.15s;
  text-align: center;
}
#inter {
  position: relative;
  top: -100px;
  width: 100%;
  height: 100vh;
  z-index: -100;
  top: 0;
}
.topnav {
  display: flex;
  background-color: #54514c;
  overflow: hidden;
  width: 100vw;
  position: absolute;
  top: 0px;
  z-index: 999;
}
h1 {
  position: relative;
  font-family: "UD Digi Kyokasho NK-R";
  font-size: 3.5vw;
  font-weight: bold;
  overflow: hidden;
  color: #54514c;
}

h1 .devtext {
  display: inline-block;
}

h2 {
  position: relative;
  font-family: "UD Digi Kyokasho NK-R";
  font-weight: bold;
  overflow: hidden;
  color: #54514c;
}
#devwrapper {
    pointer-events: none;
  display: flex;
  height: 100vh;
  width: 33.333%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Antonia_Sautter_Creations.png/120px-Antonia_Sautter_Creations.png);
  transition-property: background-image;
  transition-duration: .5s;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.devbutton {
pointer-events: auto;
  margin: auto;
  font-family: "UD Digi Kyokasho NK-R";
  width: 60%;
  height: 7%;
  background-color: #54514c;
  color: #f5f2eb;
  box-shadow: 0 5px 0 #3a3835;
  border-radius: 15px;
  font-size: 3vw;
  transition: 0.15s;
  opacity: 100;
}

#devwrapper:hover {
    background-image: url(codetext.gif);
    
    
  
}
.devbutton:active {
  box-shadow: none;
  transform: translateY(5px);
}
#deswrapper {
    pointer-events: none;
    display: flex;
    height: 100vh;
    width: 33.333%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Antonia_Sautter_Creations.png/120px-Antonia_Sautter_Creations.png);
    transition-property: background-image;
    transition-duration: .5s;  
    background-size: cover;
  background-repeat: no-repeat;
  
}
#deswrapper:hover{
    background-image: url(model.gif);
}
.designbutton {
    pointer-events: auto;
  margin: auto;
  font-family: "UD Digi Kyokasho NK-R";
  width: 60%;
  color: #f5f2eb;
  height: 7%;
  background-color: #54514c;
  box-shadow: 0 5px 0 #3a3835;
  border-radius: 15px;
  font-size: 3vw;
  transition: 0.15s;
}

.designbutton:active {
  box-shadow: none;
  transform: translateY(5px);
}
#engiewrapper {
    pointer-events: none;
    display: flex;
    height: 100vh;
    width: 33.333%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Antonia_Sautter_Creations.png/120px-Antonia_Sautter_Creations.png);
    transition-property: background-image;
    transition-duration: .5s;  
    background-size: cover;
  background-repeat: no-repeat;
}
#engiewrapper:hover{
    background-image: url(engie2.gif);
}
.engineeringbutton {
    pointer-events: auto;
  margin: auto;
  font-family: "UD Digi Kyokasho NK-R";
  width: 60%;
  color: #f5f2eb;
  height: 7%;
  background-color: #54514c;
  box-shadow: 0 5px 0 #3a3835;
  border-radius: 15px;
  font-size: 3vw;
  transition: 0.15s;
}

.engineeringbutton:active {
  box-shadow: none;
  transform: translateY(5px);
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  line-height: 0px;
  background: #ffffff url(snakev2.gif) no-repeat center center;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.certs:active {
  box-shadow: none;
  transform: translateY(5px);
}

.socials:active {
  box-shadow: none;
  transform: translateY(5px);
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a {
  color: inherit;
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

.transition-swipe {
  transition: 500ms;
  transform: translateY(0);
}

html.is-animating .transition-swipe {
  transform: translateY(100px);
}
main{
  font-family: "UD Digi Kyokasho NK-R";
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #f5f2eb;
  color: #54514c;
  z-index: -100;
}
body{
  background: #f5f2eb;
}