@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #00050a;
    color: #eeeeee;
}

h1 {
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 3vw;
    padding-top: 20vw;
    overflow: hidden;
    color: whitesmoke;
}

h1 .devtext {
    display: inline-block;
}


h1 .text {
    font-family: Lato, sans-serif;
    font-weight: normal;
    padding-left: 1.2vw;
    color: #967bb6;
}

#inter{
    position: relative;
    top: -100px;
    width: 100%;
    height: 100vh;
    z-index: -100;
    top: 0;
}
#ss2{
    position: absolute;
    padding-top: 100vh;
    width: 100%;
    height: 70vh;
}
a:link {
  color: #a6a6a6;
}
a:visited {
  color: #a6a6a6;
}
a:hover {
  color: #a6a6a6;
}

h2 {
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 5vw;
    font-weight: bold;
    padding-left: 3vw;
    padding-top: 10vw;
    overflow: hidden;
    color: whitesmoke;
}
h4 {
    position: relative;
    font-family: Lato, sans-serif;
    font-weight: bold;
    padding-left: 3vw;
    padding-top: 10vw;
    overflow: hidden;
    color: whitesmoke;
}
code {
  background-color: #565656;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
